* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}


header {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 20px;
    /* background: #fff; */
    /* margin: 10px; */
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #fff;
    background: none;
    padding: 0 100px 15px;
}

.sub-logo {
    /* font-weight: 700; */
    font-style: italic;
    transform: translateY(-50%);
}

h3 {
    background-color: red;
    background-image: linear-gradient(#7a4f99, 40%, #00AC9F, 95%, #00ac9e5e);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 15px;
}

li {
    list-style: none;
    display: none;
}

input {
    border: none;
    border-bottom: 1px solid #E74C3C;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Mochiy Pop P One', sans-serif; */
    font-size: 0;
    padding: 0;
    margin: 0;
    /* transform: scale(0); */
    /* display: none; */
    /* visibility: hidden; */
    /* transition: all .5s ease; */
    /* transform: scale(.0001); */
    /* opacity: 0; */
    /* font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 10px;
    transform: scale(1);
    opacity:1; */
    transition: all .4s ease;
}

input[type=text]:hover {
    /* border-bottom: 2px solid #fff; */
}

input[type=text]:focus {
    outline: none;
    font-size: 1rem;
    padding: 7px;
    margin-bottom: 10px;
    transform: scale(1);
    opacity:1;
}


.search-box {
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.205);
    /* display: flex; */
    padding: 12px;
    border-radius: 45px;
    /* box-shadow: 0 0 10px 5px rgba(224, 224, 224, 0.69); */
    color: #fff;
    /* border-radius: 50px; */
}

.search-box:hover {
    box-shadow: 0 0 5px 5px rgb(133, 133, 133);
}


.search-field {
    display: flex;
    justify-content: space-between;
}

.search-field-appear {
    font-size: 1rem;
    padding: 7px;
    margin: 0 10px 10px 10px;
    transform: scale(1);
    opacity:1;
    /* transition: all .2s ease; */
}

.search-results {
    /* color: #fff; not used */
}

.query-result {
    display: block;
    margin-top: 5px;
    margin-left: 50px;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Ubuntu', sans-serif;
}

.query-result:hover {
    cursor: pointer;
    font-size: 1.2em;
}

.cycle-btn {
    padding: 5px 15px;
    font-size: 70px;
    font-family: 'Mochiy Pop P One', sans-serif;
    position: absolute;
    border-radius: 200px;
    border: none;
    /* transform: translateY(-50%); */
    background-color: rgba(255, 255, 255, 0.205);
    transition: all 0.15s ease-out;
    /* box-shadow: 0 0 5px 5px pink; */
}

.cycle-btn:hover {
    /* background-color: rgba(255, 255, 255, 0.692); */
    /* transform: translateY(-50%) scale(1.1); */
    box-shadow: 0 0 5px 5px rgb(133, 133, 133);
}

.btn-click {
    /* box-shadow: inset 0 0 5px 5px rgb(56, 56, 56); */
    padding: 2px 12px;
}

#next {
    top: 50%;
    right: 0;
    margin-right: 45px;
    transform: translateY(-50%) rotate(90deg);
}

#previous {
    top: 50%;
    left: 0;
    margin-left: 45px;
    transform: translateY(-50%) rotate(270deg);
}

.carousel {
    max-width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: black;
    display: flex;
    align-items: center;
}

.carousel-item-visible {
    justify-content: center;
    display: flex;
}

.prev {
    animation: prevSlide 500ms ease-out;
    display: flex;
    justify-content: center;
}

@keyframes prevSlide {
    0% {
        opacity: 0;
        transform: scale(60%) translateX(-50%);
    }
    50% {
        opacity: .5;
    }
}

.next {
    animation: nextSlide 500ms ease-out;
    display: flex;
    justify-content: center;
}

@keyframes nextSlide {
    0% {
        opacity: 0;
        transform: scale(60%) translateX(50%);
    }
    50% {
        /* transform: scale(90%); */
        opacity: .5;
    }
}

.carousel-card {
    width: 100vw;
    height: 50vh;
}

.carousel-item-description {
    display: none;
    position: absolute;
    /* background: linear-gradient(#7a4f99, 40%, #00AC9F, 95%, #00ac9e5e); */
    /* background: #fff; */

    bottom: 0;
    left: 50%;
    /* padding: 20px; */
    transform: translate(-50%, -50%);
}

.render-carousel-item-description {
    display: block;
    /* animation: render 3000ms ease; */
}

@keyframes render {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    70% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

.open-trailer-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.205);
    padding: 20px;
    border-radius: 55px;

}

.modal {
    /* background: #fff; */
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%) scale(0);
    /* padding: 5px 10px 10px 10px; */
    /* background: rgba(235, 235, 235, 0); */
    /* backdrop-filter: blur(15px); */
    transition: 200ms ease-in-out;
    /* padding: 20px; */
    /* box-shadow: 0 0 15px 20px rgb(160, 160, 160); */

}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    background-color: rgba(39, 39, 39, 0.49);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.modal-header {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    /* margin-bottom: 5px; */
}

.modal-body {
    padding: 10px 65px;
}

.close-btn {
    border: none;
    background: none;
    background-color: #343434;
    border-radius: 45px;
    padding: 10px;
    cursor: pointer;
    transform: scale(.6);
}

.close-btn:hover {
    box-shadow: 0 0 5px 5px rgb(133, 133, 133);
}
